* {
  font-family: Helvetica sans-serif;
  font-weight: bold;
  font-size: 17pt;
}

.PanelLabel {
  border-bottom: 1px solid rgb(217, 217, 217);
}

.PanelLabel * {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.PanelLabel table {
  table-layout: fixed;
}

.PanelLabel div {
    padding: 8px;    
}

.hasCommand {
    cursor: pointer;
}

.hasCommand div:after {
    content: '\203A';
    font: normal 28px/28px Verdana;
    color: #808080;
    display: block;
    float: right;
    margin-top: -6px;
}

@if user.agent safari {
    .hasCommand {
        \-webkit-tap-highlight-color: transparent;
    }
}

.clicked {
    background-color: blue;
    color:white;
}

.clicked div:after{
    color:white;
}

.last {
  padding-bottom: 14px !important;
}

.snippit {
  font-size: 11pt;
  line-height: 11pt;
  height: 33pt;
  padding-left: 4px;
  white-space: normal;
  font-weight: normal;
}

img {
  max-width: 95%;
}

#loading {
  display: none;
}

.sectionContents, .groupedTitle {
  padding: 10px;
}

.padding5 {
  padding: 5px;
}

.groupedPanel * {
    font-size: 12pt;
}

.groupedLabel {
    padding: 10px;
    table-layout: fixed;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.externalLink {
  color: blue;
  cursor: pointer;
  text-decoration: underline;
}


body {
  margin: 0px;
  /* Minimum height on body helps preventDefault */
  background: #cbd2d8;
  font: normal 16px/22px Helvetica, Arial, Sans-serif;
  overflow: hidden;
  min-height: 316px;
}

@url groupUrl group;
.sectionBar {
    border-top: 1px solid #7d7d7d;
    border-bottom: 1px solid #999999;
    background: groupUrl repeat-x;
    color: #FFFFFF;
    cursor: pointer;
    position: relative;
    top: -1px;
    margin-bottom: -2px;
    padding: 1px 10px;
}

@if user.agent gecko1_8 {
  .groupedList {
      color: black;
      background-color: white;
      border: 1px solid rgb(217, 217, 217);
      \-moz-border-radius: 8px;
  }
} @elif user.agent safari {
  .groupedList {
      color: \-webkit-text;
      background-color: white;
      border: 1px solid rgb(217, 217, 217);
      \-webkit-border-radius: 8px;
  }
} @else {
  .groupedList {
    color: black;
    background-color: white;
    border: 1px solid rgb(217, 217, 217);
  }
}

.ChildLabel {
    border-top: 1px solid rgb(217, 217, 217);
}

.sectionContents {
    background-color: rgb(197, 204, 211);
    color: rgb(76,86,108);
}

.titleLabel {
    color:#FFFFFF;
}

.loading {
    color: white;
    font-size: 18px;
    font-weight: bold;
    height: 80px;
    left: 60px;
    line-height: 80px;
    margin: 0 auto;
    position: absolute;
    text-align: center;
    top: 120px;
    width: 200px;
}

@if user.agent gecko1_8 {
  .loading {
      \-moz-border-radius: 10px;
  }
} @elif user.agent safari {
  .loading {
      \-webkit-border-radius: 10px;
      background-color: rgba(0,0,0,.7);
  }
}

.selectLabel {
  cursor: pointer;
}

.selected div:after {
    content: '\2713';
    font: normal 28px/28px Verdana;
    color: #808080;
    display: block;
    float: right;
    margin-top: -6px;
}



.iPhoneCheckContainer {
    cursor:pointer;
    height:27px;
    overflow:hidden;
    position:relative;
}

@url onUrl on;
label.iPhoneCheckLabelOn {
    background:transparent onUrl no-repeat scroll 0 0;
    color:#FFFFFF;
    left:0;
    padding-top:5px;
    text-shadow:0 0 2px rgba(0, 0, 0, 0.6);
    z-index:1;
}

@url offUrl off;
label.iPhoneCheckLabelOff {
    background:transparent offUrl no-repeat scroll right 0;
    color:#8B8B8B;
    right:0;
    text-align:right;
    text-shadow:0 0 2px rgba(255, 255, 255, 0.6);
}

label.iPhoneCheckLabelOn, label.iPhoneCheckLabelOff {
    cursor:pointer;
    display:block;
    height:27px;
    line-height:17px;
    overflow:hidden;
    padding-top:5px;
    position:absolute;
    text-transform:uppercase;
    top:0;
    white-space:nowrap;
    width:auto;
}

label.iPhoneCheckLabelOn span {
    padding-left:8px;
}

label.iPhoneCheckLabelOff span {
    padding-right:8px;
}

@url sliderLeftUrl sliderLeft;
.iPhoneCheckHandle {
    background:transparent sliderLeftUrl no-repeat scroll 0 0;
    cursor:pointer;
    display:block;
    height:27px;
    left:0;
    padding-left:3px;
    position:absolute;
    top:0;
    width:0;
    z-index:2;
}

@url sliderRightUrl sliderRight;
.iPhoneCheckHandleRight {
    background:transparent sliderRightUrl no-repeat scroll right top;
    height:100%;
    padding-right:3px;
    width:100%;
    z-index:2;
}

@url sliderCenterUrl sliderCenter;
.iPhoneCheckHandleCenter {
    background:transparent sliderCenterUrl repeat scroll 0 0;
    height:100%;
    width:100%;
    z-index:2;
}

.FlipPanel {}

@external .face, .front, .reverse, .flip;
@if user.agent safari {
    .face {
        \-webkit-perspective: 1000;
        \-webkit-backface-visibility: hidden;
	\-webkit-transform-style: preserve-3d;
	\-webkit-transition: all .5s ease-in-out;
    }

    .front {
        \-webkit-transform: rotateY(0deg);
    }

    .reverse {
        \-webkit-transform: rotateY(180deg);
    }

    .front.flip  {
        \-webkit-transform: rotateY(-180deg);
    }

    .reverse.flip {
        \-webkit-transform: rotateY(0deg);
    }
}

@external .container;
/* TODO remove hard codeded Reposition on scroll */
body.scrolled .container {
    /*height: 263px;*/
}

/* Reposition on orientation change */
body[orient="landscape"] .container {
    height: 176px;
}

/* Reposition on scroll */
body.scrolled[orient="landscape"] .container {
    height: 115px;
}

@external .content;
/* Reposition on orientation change */
body[orient="landscape"] {
	top: 220px;
}

/* Reposition on scroll */
body.scrolled[orient="landscape"] {
	top: 159px;
}

@external .footer, .headerWrapper;
.headerWrapper, .footer {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    /*height: 44px;*/
    z-index: 200;
}

/* custom google style button */
/*http://stopdesign.com/eg/buttons/3.1/code.html*/

.gButton {
  display:inline-block;
  background:none;
  margin:0;
  padding:3px 0;
  border-width:0;
  overflow:visible;
  font:100%/1.2 Arial,Sans-serif;
  text-decoration:none;
  color:#333;
}

* html button.gButton {
  padding-bottom:1px;
}
/* Immediately below is a temporary hack to serve the
   following margin values only to Gecko browsers
   Gecko browsers add an extra 3px of left/right
   padding to button elements which can't be overriden.
   Thus, we use -3px of left/right margin to overcome this. */
/*@if user.agent gecko1_8 {
html:not([lang*=""]) button.gButton {
  margin:0 -3px;
  }
}*/

.gButton span {
  background:#f9f9f9;
  z-index:1;
  margin:0;
  padding:3px 0;
  border-left:1px solid #ccc;
  border-right:1px solid #bbb;
}

* html .gButton span {
  padding-top:0;
}

.gButton span span {
  background:none;
  position:relative;
  padding:3px .4em;
  border-width:0;
  border-top:1px solid #ccc;
  border-bottom:1px solid #bbb;
}

.gButton b {
  background:#e3e3e3;
  position:absolute;
  z-index:2;
  bottom:0;
  left:0;
  width:100%;
  overflow:hidden;
  height:40%;
  border-top:3px solid #eee;
}

* html .gButton b {
  top:1px;
}

.gButton u {
  text-decoration:none;
  position:relative;
  z-index:3;
}

/* only needed if implementing separate hover state for buttons */
.gButton:hover span, .gButton:hover span span {
  cursor:pointer;
  border-color:#9cf !important;
  color:#000;
}

.buttonBar {
    background-color: #cccccc;
    padding: 5px;
}

.singleField {
    line-height:20px;
    list-style-type:none;
    padding:11px 8px 12px;
}

.singleField label + input[type] {
    padding-left:95px;
}

.singleField textarea,.singleField input[type=text],.singleField input[type=password],.singleField input[type=search]{width:100%;display:block;margin:-4px 0 -5px;padding:4px 0 5px;border:0;font-size:inherit;line-height:inherit;font-weight:normal;background:none;-webkit-border-radius:0;-webkit-appearance:none;-webkit-box-sizing:border-box}
.singleField select{width:100%;display:block;font-size:inherit}
.singleField label + select,.singleField label + textarea,.singleField label + input[type]{margin-top:-24px}

/* new transitions */
.SliderPanel {
     background: white;
}

@if user.agent gecko1_8 {
  body {
    background-image: \-moz-linear-gradient(left, #c5ccd4, #c5ccd4 75%, transparent 75%, transparent);
    \-moz-background-size: 7px 100%;
  }
} @elif user.agent safari {
  body {
    background: literal("-webkit-gradient(linear, left top, right top, from(#c5ccd4), color-stop(0.75, #c5ccd4), color-stop(0.75, transparent), to(transparent))");
    -webkit-background-size: 5px 100%;
    -webkit-text-size-adjust: 100%;
  }
}

/*@external .view, .current, .reverse;*/
.view {
    display: block;
    width: 100%;
    min-height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
}

@if user.agent gecko1_8 {
  .view {
    \-moz-transform: translate(100%,0%,0%);
    \-moz-transition: all 0.25s  ease-in-out;
  }
} @elif user.agent safari {
  .view {
    \-webkit-transform: translate3d(100%,0%,0%);
    \-webkit-transition: all 0.25s  ease-in-out;
    \-webkit-transform-style: preserve-3d;
  }
}


.view.current {
    opacity: 1;
}

@if user.agent gecko1_8 {
  .view.current {
    \-moz-transform: translate(0%,0%,0%);
  }
} @elif user.agent safari {
  .view.current {
    \-webkit-transform: translate3d(0%,0%,0%);
  }
}


.view.reverse {
    opacity: 0;
}

@if user.agent gecko1_8 {
  .view.reverse {
    \-moz-transform: translate(-100%, 0%, 0%);
  }
} @elif user.agent safari {
  .view.reverse {
    \-webkit-transform: translate3d(-100%, 0%, 0%);
  }
}

@external .header;
.header {
    padding: 4px 10px;
    height: 27px;
    border-top: 1px solid #cdd5df;
    border-bottom: 1px solid #2d3642;
}

@if user.agent gecko1_8 {
  .header {
    background-image: literal("-moz-linear-gradient(top, #b0bccd, #889bb3 50%, #8195af 50%, #6d84a2))");
  }
} @elif user.agent safari {
  .header {
    display: \-webkit-box;
    \-webkit-box-orient: horizontal;
    \-webkit-box-pack:justify;
    background: literal("-webkit-gradient(linear, left top, left bottom, from(#b0bccd), color-stop(0.5, #889bb3), color-stop(0.5, #8195af), to(#6d84a2))");
  }
}

h1 {
    font: bold 16px/20px Helvetica, Arial, Sans-serif;
    letter-spacing: -1px;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.5);
    color: #fff;
    margin: 0px;
    \-webkit-box-flex: 1;
    text-align: center
}

@external .button, .hover, .back;
.button {  
    border: solid 1px #424650;
    display: inline-block;
    cursor: pointer;
    padding: 4px 10px; 
    color: #fff;
    font: normal 12px/14px Helvetica, Sans-serif;
    position: relative;
}

@if user.agent gecko1_8 {
  .button {
    \-moz-box-shadow: 2px 2px 3px #999;
    \-moz-border-radius: 6px;
    background: literal("-moz-linear-gradient(top, #889ab4,  #6380a9 50%, #486a98 50%, #496b9a))");
  }
} @elif user.agent safari {
  .button {
    \-webkit-box-shadow: 2px 2px 3px #999;
    \-webkit-border-radius: 6px;
    background: literal("-webkit-gradient(linear, left top, left bottom, from(#889ab4), color-stop(0.5, #6380a9), color-stop(0.5, #486a98), to(#496b9a))");
    \-webkit-tap-highlight-color: transparent;
  }
}


@if user.agent gecko1_8 {
  .button:hover, .button.hover {
    background-image: literal("-moz-linear-gradient(top, #74809d, #465885 50%, #283d6c 50%, #283d6f))");
  }
} @elif user.agent safari {
  .button:hover, .button.hover {
    background: literal("-webkit-gradient(linear, left top, left bottom, from(#74809d), color-stop(0.5, #465885), color-stop(0.5, #283d6c), to(#283d6f))");
    \-webkit-tap-highlight-color: transparent;
  }
}

.button.back {
    padding: 4px 10px 4px 6px;
    margin-left: 10px;
}

.back > span {
    border-left: solid 1px #424650;
    border-bottom: solid 1px #424650;
    height: 19px;
    width: 19px;
    display: inline-block;
    position: absolute;
    left: -7px;
    top: 1px;
}

@if user.agent gecko1_8 {
  .back > span {

  }
} @elif user.agent safari {
  .back > span {
    background: literal("-webkit-gradient(linear, left top, right bottom, from(#889ab4), color-stop(0.5, #6380a9), color-stop(0.5, #486a98), to(#496b9a))");
    \-webkit-border-top-left-radius: 6px;
    \-webkit-border-bottom-right-radius: 6px;
    \-webkit-transform: rotate(45deg);
    \-webkit-mask-image: literal("-webkit-gradient(linear, left bottom, right top, from(#000000), color-stop(0.5,#000000), color-stop(0.5, transparent), to(transparent))");
    \-webkit-background-clip: content;
  }
}

.button.back:hover > span, .button.back.hover > span {
    background: literal("-webkit-gradient(linear, left top, right bottom, from(#74809d), color-stop(0.5, #465885), color-stop(0.5, #283d6c), to(#283d6f))");
}

@external message, .networkAvatar, .networkName, .postTime, .messageContent;
.message {
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    -moz-border-radius-bottomleft:3px;
    -moz-border-radius-bottomright:3px;
    -moz-border-radius-topleft:3px;
    -moz-border-radius-topright:3px;

    -webkit-background-clip:border-box;
    -webkit-background-origin:padding;
    -webkit-border-bottom-left-radius:3px;
    -webkit-border-bottom-right-radius:3px;
    -webkit-border-top-left-radius:3px;
    -webkit-border-top-right-radius:3px;
    
    background:#F4F4F4 url(../../../images/themes/classic/streams/message-gradient.png) repeat-x scroll 0 0;
    border-bottom:1px solid #77BC66;
    border-top:1px solid #BEE1AA;
    overflow:hidden;
    padding:4px 6px 5px 42px;
    position:relative;
}

.message .networkAvatar {
    display:block;
    height:30px;
    left:5px;
    position:absolute;
    top:5px;
    width:30px;
    background-color:#CCCCCC;
    border-bottom:1px solid #FFFFFF;
    z-index: 1;
}

.message .networkName {
    color:#4E763E;
    float:left;
    font-family:Verdana,Arial,Helvetica,Sans-Serif;
    font-weight:bold;
    line-height:12px
}

a {
    text-decoration:none;
    outline-color:-moz-use-text-color;
    outline-style:none;
    outline-width:medium;
    text-decoration:none;
}

.message .postTime {
    color:#999999;
    clear:left;
    float:left;
    font-size:11px;
    margin-bottom:0.4em;
    white-space:nowrap;
}

.message .messageContent {
    clear:left;
    color:#32363F;
}

p:last-child {
    margin-bottom:0;
}


p {
    font-size:12px;
    margin:0.1em 0 0.5em;
}

